<h3><%= @user.full_name %></h3>

<h4><%= "(#{@user.role})" %></h4>

<p><strong>About:</strong> <%= @user.biography %></p>

<% if @user.role == "student" && @user.studied_courses.count > 0 %>
  <p><strong>Courses studied:</strong></p>
  <ul>
    <% @user.studied_courses.each do |course| %>
      <li><%= course.name %></li>
    <% end %>
  </ul>
<% end %>