<div class="button_container">
  <%= link_to "Add a classroom", new_classroom_path, class: "button" %>
</div>
<% courses = Course.all %>
<% locations = courses.map { |course| course.location }.uniq %>
<% locations.each do |l| %>
  <h3><%= "Classrooms in #{l.name}" %></h3>
  <% cl = Classroom.where("location_id = ?", l.id) %>
  <% cl.each do |c| %>
    <li><%= link_to "#{c.name}", c %> </li>
  <% end %>
<% end %>