<% locations = Location.all %>
<% locations.each do |l| %>
  <h3><%= "Courses in #{l.name}" %></h3>
  <% chrts = select_cohorts_by_location(l) %>
  <% chrts.each do |c| %>
    <li><%= link_to "#{c.course.program.name}", c.course.program %> <%= "(#{c.start_date}–#{c.end_date})" %></li>
  <% end %>
<% end %>